$primary-color: #c0e1cf;

$secondary-color: #e1c0b0;

$terziary-color: #f3d0c7;

$fourth-color: #faf7f1;

$color-icon-1: #badac9;

$color-icon-2: #f8d12d;

$color-icon-3: #80465f;

$color-icon-4: #f0817b;

$border-color: #e1c0b0;

$bg-img-1: #fffff2;

$bg-img-2: #ee2852;

$bg-button-1: #d8f0e3;

$text-color-secondary: #a6a6a6